body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
 
  
  width: 220px;
  margin-top: 300px;
}
.text_input{
  font-size: 90px;
}

.Box1-row {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 130px;
  
  
 
}
.Box{
  width: 150px;
  height: 130px;
  background-color: rgba(247, 241, 179);
  /* line-height: 30px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  font-size: 90px;
  
}

input{
  width: 135px;
  height: 135px;
  text-align: center;
  border: none;
 
 
 
}
.grid-box{
  border: darkolivegreen 1px solid;
}